.hrwp {
    width: 100%;
    padding: 96px 0 32px;
}

.hrciwp {
    max-width: 968px;
    padding: 96px 0 32px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.hrcwp {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hrt {
    font-size: 32px;
    margin: 0 0 12px;
    width: 85%;
    color: var(--text-color-d);
}

.hrdc {
    width: 75%;
    color: var(--text-color-xl);
    margin: 0 0 32px;
    font-size: 15px;
}

.her {
    max-width: 968px;
    padding: 96px 0 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 0 auto;
}

.hrbw {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: .5rem;
    gap: .5rem;
}