.hdwp {
    width: 100%;
    color: var(--text-color-l);
    font-weight: 600;
    font-size: 16px;
    background-color: var(--bg-color-white);
    position: fixed;
    top: 0;
}

nav.navhd {
    max-width: 968px;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
}

.hdlk ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    min-width: 627px;
}

.hct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16px;
    width: 76px;
}

.hct div {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.hycc {
    background-color: var(--color-changer-yellow);
}

.hrcc {
    background-color: var(--color-changer-red);
}

.hgcc {
    background-color: var(--color-changer-green);
}

.hocc {
    background-color: var(--color-changer-orange);
}